html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ddd;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 1em 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
}

h1 {
    text-transform: uppercase;
}

p {
    margin-bottom: 1em;
}

.btn {
    display: block;
    background: none;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.btn + .btn {
    margin-top: 10px;
}

.btn-blue {
    color: #00BFFF;
    border-color: #00BFFF;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: row;
    color: white;
}

#news {
    background: #777;
    padding: 5px;
    color: white;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
}

#news .item:first-child::before {
    content: "\2605";
    margin: 0 10px;
}

#news .item::after {
    content: "\2605";
    margin: 0 10px;
}

.sidebar {
    background: linear-gradient(-45deg, rgba(143, 0, 26, 1),rgba(34, 116, 165, 1));
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar .header {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.ceed-space-info {
    display: none;
}

.ceed-space-info .name {
    font-size: 20px;
}

.widgets {
    color: white;
    text-align: right;
}

.widgets .weather {
    font-size: 60px;
    line-height: 1.5;
}

.wi {
    line-height: 1.2;
}

.wi::before {
    position: relative;
    top: 10px;
}

.widgets .time {
    font-size: 40px;
}

.map-container {
    flex: 1;
    margin: 20px;
}

.map {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.map .directions {
    animation: dash .5s linear infinite;
    stroke-dasharray: 3 !important;
    display: none;
}

.map .bg {
    display: none;
}

.map circle.pulse {
    transform-origin: -51.908px 148.89px;
    animation: pulse 1.5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -6;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}