/** CSS Reset **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ddd;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 1em 0;
}

h1,h2,h3,h4,h5,h6 {
    display: block;
    margin-bottom: 1em;
}

h1 {
    text-transform: uppercase;
}

p {
    margin-bottom: 1em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.overlay .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.overlay .overlay-content .overlay-text {
    font-size: 4em;
    color: white;
    font-weight: bold;
    background: rgba(204, 0, 0, 0.33);
    padding: 1em;
}

.overlay .overlay-content .overlay-text p {
    margin: 0;
}

.overlay .overlay-content .overlay-text p + p {
    margin-top: 0.5em;
}

.btn {
    display: block;
    background: none;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.event {
    display: flex;
    justify-content: space-between;
}

.event p {
    margin: 0;
}

.event .info {
}

.event .info-btn {
    width: auto;
    height: auto;
}

.navigation .btn + .btn {
    margin-top: 10px;
}

.btn-blue {
    color: #00BFFF;
    border-color: #00BFFF;
}

.btn-green {
    color: #00FF00;
    border-color: #00FF00;
}

.btn-inline {
    width: auto;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: row;
    color: white;
    flex: 1;
}

#news {
    background: #777;
    padding: 5px;
    color: white;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
}

#news .item:first-child::before {
    content: "\2605";
    margin: 0 10px;
}

#news .item::after {
    content: "\2605";
    margin: 0 10px;
}

.sidebar {
    background: linear-gradient(-45deg, rgba(143, 0, 26, 1),rgba(34, 116, 165, 1));
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar .header {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.fade-container {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.fade-container > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    transition: 500ms linear opacity;
    overflow-y: auto;
}

.ceed-space-info .name {
    font-size: 20px;
}

.ceed-space-info .description {
    font-size: 28px;
}

.widgets {
    color: white;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.widgets .languages .btn {
    font-size: 40px;
    padding: 0.5em;
}

.widgets .weather {
    font-size: 60px;
    line-height: 1.5;
}

.widgets .weather .temperature {
    font-weight: bold;
    font-size: 30px;
}

.widgets .time {
    font-size: 40px;
    margin-top: 0.2em;
}

.pulse {
    animation: pulse 1.5s linear infinite;
}

.map-container {
    flex: 1;
    margin: 20px;
}

.map {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.map text {
    user-select: none;
}

.map .text {
    opacity: 1;
    transition: 500ms linear opacity;
    pointer-events: none;
}

.map .directions {
    animation: dash .5s linear infinite;
    stroke-dasharray: 3 !important;
    opacity: 0;
    transition: 500ms linear opacity;
}

.map .bg {
    opacity: 0;
    transition: 500ms linear opacity;
}

.map circle.pulse {
    transform-origin: -51.908px 148.89px;
    animation: pulse-fade 1.5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -6;
    }
}

@keyframes pulse-fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}