#videoPlayer {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#vidOverlay{
    position: fixed;
    bottom: 50%;
    background: rgba(223, 69, 38, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/*html { cursor: none; }*/
